<section class="d-flex justify-content-center align-items-center">
    <!-- <div class="main"> -->
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Encuentra las mejores imagenes</h1>
                <h4 class="text-white mb-3"> Alrededor de 2 millones de imagenes en la más alta calidad </h4>
                <app-searcher></app-searcher>
            </div>
        </div>
    </div>
    <!-- </div> -->
</section>